{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Dashboard{% endset %}
{% block body -%}
    <div class="row">
        <div class="col-lg-7">

            <!-- Traffic sources -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Traffic sources<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                                    <input type="checkbox" class="switch" checked="checked" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="border-color: rgb(76, 175, 80); box-shadow: rgb(76, 175, 80) 0px 0px 0px 8px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s; background-color: rgb(76, 175, 80);"><small style="left: 14px; transition: background-color 0.4s, left 0.2s; background-color: rgb(255, 255, 255);"></small></span>
                                    Live update:
                                </label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="#" class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-plus3"></i></a>
                                </li>
                                <li class="text-left">
                                    <div class="text-semibold">New visitors</div>
                                    <div class="text-muted">2,349 avg</div>
                                </li>
                            </ul>

                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="content-group" id="new-visitors"><svg width="120.21875" height="35"><g transform="translate(0,0)" width="120.21875"><defs><clipPath id="load-clip-new-visitors"><rect class="load-clip" width="120.21875" height="35"></rect></clipPath></defs><g clip-path="url(#load-clip-new-visitors)"><path d="M-4.6237980769230775,24.166666666666668L-3.8531650641025643,24.166666666666668C-3.0825320512820515,24.166666666666664,-1.5412660256410258,24.166666666666664,0,21.38888888888889C1.5412660256410258,18.61111111111111,3.0825320512820515,13.055555555555554,4.6237980769230775,12.083333333333332C6.165064102564103,11.11111111111111,7.706330128205129,14.722222222222221,9.247596153846153,15C10.788862179487179,15.277777777777777,12.330128205128204,12.222222222222221,13.87139423076923,11.527777777777777C15.412660256410255,10.833333333333332,16.953926282051285,12.499999999999998,18.49519230769231,14.444444444444443C20.036458333333336,16.388888888888886,21.57772435897436,18.611111111111107,23.118990384615387,17.36111111111111C24.66025641025641,16.11111111111111,26.201522435897434,11.388888888888888,27.74278846153846,10C29.284054487179485,8.61111111111111,30.82532051282051,10.555555555555555,32.36658653846154,11.11111111111111C33.90785256410256,11.666666666666666,35.44911858974359,10.833333333333332,36.99038461538461,10.138888888888888C38.53165064102564,9.444444444444443,40.072916666666664,8.888888888888888,41.61418269230769,8.611111111111109C43.155448717948715,8.333333333333332,44.696714743589745,8.333333333333332,46.237980769230774,7.361111111111109C47.779246794871796,6.388888888888887,49.32051282051282,4.444444444444442,50.86177884615385,5.416666666666664C52.40304487179487,6.388888888888886,53.9443108974359,10.277777777777775,55.48557692307692,13.749999999999996C57.02684294871794,17.22222222222222,58.56810897435897,20.277777777777775,60.109375,22.22222222222222C61.65064102564102,24.166666666666664,63.191907051282044,25,64.73317307692307,21.666666666666668C66.27443910256409,18.333333333333332,67.81570512820511,10.833333333333332,69.35697115384615,10.555555555555555C70.89823717948717,10.277777777777779,72.4395032051282,17.22222222222222,73.98076923076923,18.611111111111114C75.52203525641026,20,77.06330128205128,15.833333333333334,78.6045673076923,12.222222222222223C80.14583333333333,8.61111111111111,81.68709935897435,5.555555555555554,83.22836538461537,4.027777777777776C84.76963141025641,2.4999999999999973,86.31089743589743,2.4999999999999973,87.85216346153845,2.9166666666666643C89.39342948717947,3.3333333333333313,90.93469551282051,4.166666666666665,92.47596153846155,5.694444444444444C94.01722756410257,7.222222222222222,95.55849358974358,9.444444444444445,97.09975961538461,10.694444444444446C98.64102564102564,11.944444444444446,100.18229166666666,12.222222222222223,101.72355769230768,14.166666666666668C103.2648237179487,16.11111111111111,104.80608974358972,19.72222222222222,106.34735576923076,19.861111111111107C107.88862179487178,20,109.42988782051282,16.666666666666664,110.97115384615384,16.38888888888889C112.51241987179486,16.111111111111114,114.05368589743588,18.888888888888893,115.5949519230769,19.861111111111114C117.13621794871793,20.833333333333336,118.67748397435896,20,120.21875,18.75C121.76001602564102,17.5,123.30128205128204,15.833333333333332,124.84254807692307,14.305555555555554C126.3838141025641,12.777777777777775,127.92508012820512,11.388888888888886,128.69571314102564,10.694444444444441L129.46634615384616,9.999999999999998" class="d3-line d3-line-medium" style="stroke: rgb(38, 166, 154); opacity: 1;" transform="translate(-4.192243423461914,0)"></path></g></g></svg></div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-watch2"></i></a>
                                </li>
                                <li class="text-left">
                                    <div class="text-semibold">New sessions</div>
                                    <div class="text-muted">08:20 avg</div>
                                </li>
                            </ul>

                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="content-group" id="new-sessions"><svg width="120.21875" height="35"><g transform="translate(0,0)" width="120.21875"><defs><clipPath id="load-clip-new-sessions"><rect class="load-clip" width="120.21875" height="35"></rect></clipPath></defs><g clip-path="url(#load-clip-new-sessions)"><path d="M-4.6237980769230775,10.833333333333332L-3.8531650641025643,12.916666666666664C-3.0825320512820515,14.999999999999998,-1.5412660256410258,19.166666666666664,0,20.83333333333333C1.5412660256410258,22.499999999999996,3.0825320512820515,21.666666666666664,4.6237980769230775,21.527777777777775C6.165064102564103,21.388888888888886,7.706330128205129,21.944444444444443,9.247596153846153,19.166666666666664C10.788862179487179,16.38888888888889,12.330128205128204,10.277777777777775,13.87139423076923,9.027777777777775C15.412660256410255,7.777777777777776,16.953926282051285,11.388888888888888,18.49519230769231,15C20.036458333333336,18.61111111111111,21.57772435897436,22.22222222222222,23.118990384615387,21.805555555555554C24.66025641025641,21.38888888888889,26.201522435897434,16.944444444444443,27.74278846153846,14.027777777777779C29.284054487179485,11.11111111111111,30.82532051282051,9.722222222222221,32.36658653846154,9.999999999999998C33.90785256410256,10.277777777777775,35.44911858974359,12.22222222222222,36.99038461538461,11.11111111111111C38.53165064102564,9.999999999999998,40.072916666666664,5.833333333333332,41.61418269230769,6.944444444444444C43.155448717948715,8.055555555555555,44.696714743589745,14.444444444444443,46.237980769230774,15.972222222222221C47.779246794871796,17.5,49.32051282051282,14.166666666666664,50.86177884615385,13.611111111111109C52.40304487179487,13.055555555555554,53.9443108974359,15.277777777777777,55.48557692307692,17.77777777777778C57.02684294871794,20.27777777777778,58.56810897435897,23.055555555555554,60.109375,24.02777777777778C61.65064102564102,25,63.191907051282044,24.166666666666664,64.73317307692307,23.472222222222218C66.27443910256409,22.77777777777778,67.81570512820511,22.22222222222222,69.35697115384615,21.111111111111114C70.89823717948717,20,72.4395032051282,18.333333333333336,73.98076923076923,18.888888888888886C75.52203525641026,19.444444444444443,77.06330128205128,22.22222222222222,78.6045673076923,23.333333333333332C80.14583333333333,24.444444444444443,81.68709935897435,23.888888888888886,83.22836538461537,21.805555555555554C84.76963141025641,19.72222222222222,86.31089743589743,16.11111111111111,87.85216346153845,15.833333333333332C89.39342948717947,15.555555555555557,90.93469551282051,18.611111111111114,92.47596153846155,17.36111111111111C94.01722756410257,16.111111111111114,95.55849358974358,10.555555555555557,97.09975961538461,10.416666666666666C98.64102564102564,10.277777777777777,100.18229166666666,15.555555555555554,101.72355769230768,16.11111111111111C103.2648237179487,16.666666666666664,104.80608974358972,12.499999999999998,106.34735576923076,11.527777777777777C107.88862179487178,10.555555555555554,109.42988782051282,12.777777777777777,110.97115384615384,12.083333333333334C112.51241987179486,11.388888888888888,114.05368589743588,7.777777777777776,115.5949519230769,5.97222222222222C117.13621794871793,4.166666666666664,118.67748397435896,4.166666666666664,120.21875,4.166666666666663C121.76001602564102,4.166666666666664,123.30128205128204,4.166666666666664,124.84254807692307,4.999999999999997C126.3838141025641,5.833333333333331,127.92508012820512,7.499999999999998,128.69571314102564,8.333333333333332L129.46634615384616,9.166666666666666" class="d3-line d3-line-medium" style="stroke: rgb(255, 112, 67); opacity: 1;" transform="translate(-4.17991329574585,0)"></path></g></g></svg></div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-people"></i></a>
                                </li>
                                <li class="text-left">
                                    <div class="text-semibold">Total online</div>
                                    <div class="text-muted"><span class="status-mark border-success position-left"></span> 5,378 avg</div>
                                </li>
                            </ul>

                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="content-group" id="total-online"><svg width="120.21875" height="35"><g transform="translate(0,0)" width="120.21875"><defs><clipPath id="load-clip-total-online"><rect class="load-clip" width="120.21875" height="35"></rect></clipPath></defs><g clip-path="url(#load-clip-total-online)"><path d="M-4.6237980769230775,1.666666666666667L-3.8531650641025643,1.805555555555555C-3.0825320512820515,1.9444444444444435,-1.5412660256410258,2.2222222222222205,0,3.47222222222222C1.5412660256410258,4.72222222222222,3.0825320512820515,6.944444444444443,4.6237980769230775,8.194444444444443C6.165064102564103,9.444444444444443,7.706330128205129,9.722222222222221,9.247596153846153,8.611111111111109C10.788862179487179,7.499999999999997,12.330128205128204,4.999999999999997,13.87139423076923,4.72222222222222C15.412660256410255,4.444444444444442,16.953926282051285,6.388888888888887,18.49519230769231,9.305555555555554C20.036458333333336,12.222222222222221,21.57772435897436,16.11111111111111,23.118990384615387,17.77777777777778C24.66025641025641,19.444444444444443,26.201522435897434,18.888888888888886,27.74278846153846,18.47222222222222C29.284054487179485,18.055555555555554,30.82532051282051,17.77777777777778,32.36658653846154,15.833333333333332C33.90785256410256,13.888888888888888,35.44911858974359,10.277777777777777,36.99038461538461,8.88888888888889C38.53165064102564,7.499999999999999,40.072916666666664,8.333333333333332,41.61418269230769,10.972222222222221C43.155448717948715,13.61111111111111,44.696714743589745,18.055555555555557,46.237980769230774,19.166666666666668C47.779246794871796,20.27777777777778,49.32051282051282,18.055555555555554,50.86177884615385,14.583333333333332C52.40304487179487,11.111111111111109,53.9443108974359,6.3888888888888875,55.48557692307692,4.166666666666666C57.02684294871794,1.9444444444444435,58.56810897435897,2.2222222222222205,60.109375,2.4999999999999982C61.65064102564102,2.777777777777776,63.191907051282044,3.0555555555555545,64.73317307692307,6.111111111111111C66.27443910256409,9.166666666666666,67.81570512820511,14.999999999999998,69.35697115384615,18.75C70.89823717948717,22.5,72.4395032051282,24.166666666666664,73.98076923076923,24.027777777777775C75.52203525641026,23.888888888888886,77.06330128205128,21.944444444444443,78.6045673076923,17.916666666666664C80.14583333333333,13.888888888888888,81.68709935897435,7.777777777777777,83.22836538461537,5.555555555555555C84.76963141025641,3.333333333333333,86.31089743589743,4.999999999999999,87.85216346153845,6.249999999999999C89.39342948717947,7.499999999999999,90.93469551282051,8.333333333333332,92.47596153846155,9.583333333333332C94.01722756410257,10.833333333333332,95.55849358974358,12.499999999999998,97.09975961538461,13.194444444444443C98.64102564102564,13.888888888888888,100.18229166666666,13.61111111111111,101.72355769230768,14.722222222222221C103.2648237179487,15.833333333333332,104.80608974358972,18.333333333333332,106.34735576923076,16.52777777777778C107.88862179487178,14.72222222222222,109.42988782051282,8.611111111111109,110.97115384615384,6.388888888888887C112.51241987179486,4.166666666666664,114.05368589743588,5.833333333333331,115.5949519230769,9.722222222222221C117.13621794871793,13.61111111111111,118.67748397435896,19.72222222222222,120.21875,20.555555555555554C121.76001602564102,21.38888888888889,123.30128205128204,16.944444444444443,124.84254807692307,14.305555555555555C126.3838141025641,11.666666666666666,127.92508012820512,10.833333333333332,128.69571314102564,10.416666666666664L129.46634615384616,9.999999999999998" class="d3-line d3-line-medium" style="stroke: rgb(92, 107, 192); opacity: 1;" transform="translate(-4.1552530403137204,0)"></path></g></g></svg></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="position-relative" id="traffic-sources"><div class="d3-tip e" style="display: none;"></div><svg width="564.828125" height="330"><g transform="translate(50,5)" width="564.828125"></g></svg></div>
            </div>
            <!-- /traffic sources -->

        </div>

        <div class="col-lg-5">

            <!-- Sales stats -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Sales statistics<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <select class="change-date select-sm" id="select_date" style="display: none;">
                                    <optgroup label="<i class='icon-watch pull-right'></i> Time period">
                                        <option value="val1">June, 29 - July, 5</option>
                                        <option value="val2">June, 22 - June 28</option>
                                        <option value="val3" selected="selected">June, 15 - June, 21</option>
                                        <option value="val4">June, 8 - June, 14</option>
                                    </optgroup>
                                </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-link text-semibold" data-toggle="dropdown" title="June, 15 - June, 21"><span class="multiselect-selected-text"><span class="status-mark border-warning position-left"></span>June, 15 - June, 21</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu pull-right"><li class="multiselect-item multiselect-group"><label><i class="icon-watch pull-right"></i> Time period</label></li><li><a tabindex="0"><label class="radio"><div class="choice"><span><input type="radio" value="val1"></span></div> June, 29 - July, 5</label></a></li><li><a tabindex="0"><label class="radio"><div class="choice"><span><input type="radio" value="val2"></span></div> June, 22 - June 28</label></a></li><li class="active"><a tabindex="0"><label class="radio"><div class="choice"><span class="checked"><input type="radio" value="val3"></span></div> June, 15 - June, 21</label></a></li><li><a tabindex="0"><label class="radio"><div class="choice"><span><input type="radio" value="val4"></span></div> June, 8 - June, 14</label></a></li></ul></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="content-group">
                                <h5 class="text-semibold no-margin"><i class="icon-calendar5 position-left text-slate"></i> 5,689</h5>
                                <span class="text-muted text-size-small">orders weekly</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h5 class="text-semibold no-margin"><i class="icon-calendar52 position-left text-slate"></i> 32,568</h5>
                                <span class="text-muted text-size-small">orders monthly</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h5 class="text-semibold no-margin"><i class="icon-cash3 position-left text-slate"></i> $23,464</h5>
                                <span class="text-muted text-size-small">average revenue</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-group-sm" id="app_sales"><svg width="397.15625" height="255"><g transform="translate(50,5)"></g></svg></div>
                <div id="monthly-sales-stats"><svg width="397.15625" height="100"><g transform="translate(35,20)"></g></svg></div>
            </div>
            <!-- /sales stats -->

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/pages/dashboard.js') }}"></script>

{% endblock %}
